@import '../../models/colors.scss';

footer {
  width: 100vw;
  height: 10vh;
  max-height: 60px;
  background-color: $orange;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    margin: 10px;

    i {
      color: $grey;
    }
  }
}