<p>test-comp works!</p>

<p>{{miners.mk1.name}}</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio similique dicta. Pariatur ea dicta quisquam! Officia excepturi doloribus voluptatem sapiente delectus ex sint mollitia perferendis voluptate. Ullam, sit illum.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio similique dicta. Pariatur ea dicta quisquam! Officia excepturi doloribus voluptatem sapiente delectus ex sint mollitia perferendis voluptate. Ullam, sit illum.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio similique dicta. Pariatur ea dicta quisquam! Officia excepturi doloribus voluptatem sapiente delectus ex sint mollitia perferendis voluptate. Ullam, sit illum.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio similique dicta. Pariatur ea dicta quisquam! Officia excepturi doloribus voluptatem sapiente delectus ex sint mollitia perferendis voluptate. Ullam, sit illum.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio similique dicta. Pariatur ea dicta quisquam! Officia excepturi doloribus voluptatem sapiente delectus ex sint mollitia perferendis voluptate. Ullam, sit illum.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio similique dicta. Pariatur ea dicta quisquam! Officia excepturi doloribus voluptatem sapiente delectus ex sint mollitia perferendis voluptate. Ullam, sit illum.
</p>