@import '../../models/colors.scss';

header {
  width: 100vw;
  height: 10vh;
  max-height: 60px;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $grey;
    font-size: 1.8rem;
  }
}